.card {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
}

.evaluation-video {
  position: absolute;
  width: 1000px;
  height: 800px;
}

.play {
  position: absolute;
  z-index: 10;
  top: 350px;
  background-color: transparent;
}

.start-recording {
  position: absolute;
  z-index: 9;
  top: 350px;
  background-color: transparent;
}

.end-recording {
  position: absolute;
  z-index: 8;
  top: 350px;
  background-color: transparent;
}
