<mat-card>
  <mat-card-title>
    <h1>Log In</h1>
  </mat-card-title>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <mat-form-field>
        <input matInput ngModel #loginName="ngModel" type="text"
          placeholder="Username or Email" name="loginName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput ngModel #password="ngModel" type="password"
          placeholder="Password" name="password"
          required
        />
        <mat-hint><a routerLink="/password-reset">Forgot your password?</a></mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>

  </mat-card-content>
</mat-card>
