@import '../../../assets/styles/_theme';

// ****************** Bottom stuff *********************

.spacer {
  height: 40px;
  z-index: 5;
}

.second-spacer {
  height: 10px;
  z-index: 5;
}

.hint-card {
  width: 100%;
  text-align: center;
}

.bottom-card {
  background-color: #262626;
  color: white;
  text-align: center;
  color: grey;
  font-size: 15px;
}

.psycho-babble {
  @include font-bebas-kai;
  color: #58a0c4;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.babble-logo {
  height: 20px;
  width: 20px;
}

// ****************** Stepper ***********************

.my-stepper {
  position: relative;
  background-color: #f27815;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.stepper-container {
  display: flex;
  justify-content: center;
  background-color: #f27815;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

::ng-deep .mat-step-label {
  display: none !important;
}

::ng-deep .mat-step-label-active {
  position: absolute;
  top: 0;
  left: -17px;
  color: white !important;
  font-size: 14px;
  font-weight: bold;
  overflow: visible !important;
  display: flex !important;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 60px !important;
    right: 21px;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-bottom: 20px solid white !important;
  }
}

::ng-deep .ng-star-inserted {
  color: white;
}

::ng-deep .mat-step-icon, ::ng-deep .mat-step-icon-not-touched {
  background-color: white !important;
  margin-right: 0 !important;
  height: 18px !important;
  width: 18px !important;
  position: absolute;
  left: 16px;
}

::ng-deep .mat-horizontal-content-container {
  display: none;
}

::ng-deep .mat-stepper-horizontal-line {
  min-width: 15px !important;
  border-color: white !important;
  position: flex;
}

::ng-deep .mat-horizontal-stepper-header {
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 49px !important;
  overflow: visible !important;
}

::ng-deep .mat-step-header {
  overflow: visible !important;
}

// ***************************** Video ************************
$video-height: 180px;

.video-content {
  display: flex;
  position: absolute;
  bottom: -20px;
  justify-content: center;
}

.black-bars {
  display: flex;
  background-color: black;
  width: 320px;
  height: $video-height;
  justify-content: center;
}

.video-container {
  height: $video-height;
  max-width: 100%;
  top: 130px;
}

.evaluation-video {
  height: 100%;
}

.video-card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
  z-index: 6;
}

$transition-centering: 40px;

.loading {
  position: absolute;
  top: $transition-centering;
}

.done-message {
  position: absolute;
  top: $transition-centering;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 40;
}

// ********************** Video Buttons *************************

$button-centering: 16px;
$button-color: rgba(242, 120, 21, .7);

.play, .start-recording, .end-recording {
  position: absolute;
  z-index: 10;
  top: $button-centering;
  background-color: $button-color;
  border-radius: 50%;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.my-icons {
  color: white;
  font-size: 150px;
}

.material-icons {
  vertical-align: middle;
}

// **************** Top Stuff **************
.branding-card {
  display: flex;
  justify-content: center;
  height: 120px;
}

.top-card {
  z-index: -1;
  height: 130px;
  width: 100%;
}

.logo {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.company-name {
  @include font-bebas-kai;
  position: absolute;
  left: 80px;
  top: 0px;
  font-size: 20px;
}

.portal {
  @include font-bebas-kai;
  position: absolute;
  bottom: 18px;
  left: 80px;
  font-size: 20px;
}

.branding-container {
  position: relative;
  display: flex;
  width: 340px;
  height: 100px;
}
// ************** flipped phone (based on iphone 5/SE) **************
@media screen and (min-width: 568px) {

  $video-height: 320px;

  .video-content {
    bottom: -16px;
  }

  .black-bars {
    display: flex;
    background-color: black;
    width: 568px;
    height: $video-height;
    justify-content: center;
  }

  .video-container {
    height: $video-height;
    max-width: 100%;
    top: 110px;
  }

  .evaluation-video {
    height: 100%;
  }

  .video-card {
    height: 290px;
  }

  $transition-centering: 100px;

  .loading {
    top: $transition-centering;
  }

  .done-message {
    top: $transition-centering;
  }

  $button-centering: 75px;

  .play, .start-recording, .end-recording {
    top: $button-centering;
  }
}

@media screen and (min-width: 1024px) {
  $video-height: 440px;

  .video-content {
    display: flex;
    position: absolute;
    bottom: -20px;
    justify-content: center;
  }

  .black-bars {
    display: flex;
    background-color: black;
    width: 870px;
    height: $video-height;
    justify-content: center;
  }

  .video-container {
    height: $video-height;
    max-width: 100%;
    top: 130px;
  }

  .evaluation-video {
    height: 100%;
  }

  .video-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
    z-index: 6;
  }

  $transition-centering: 40px;

  .loading {
    position: absolute;
    top: $transition-centering;
  }

  .done-message {
    position: absolute;
    top: $transition-centering;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 40;
  }

  $transition-centering: 100px;

  .loading {
    top: $transition-centering;
  }

  .done-message {
    top: $transition-centering;
  }

  $button-centering: 75px;

  .play, .start-recording, .end-recording {
    top: $button-centering;
  }

  // ********************* stepper **************

  .my-stepper {
    position: relative;
    background-color: #f27815;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .stepper-container {
    display: flex;
    justify-content: center;
    background-color: #f27815;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  ::ng-deep .mat-step-label {
    display: flex !important;
    position: absolute;
    top: 0;
    left: -18px;
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    overflow: visible !important;
  }

  ::ng-deep .mat-step-label-active {
    color: white !important;
    position: absolute;
    bottom: 0;
    left: -18px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -9px;
      right: 30px;
      border-left: 10px solid transparent !important;
      border-right: 10px solid transparent !important;
      border-bottom: 20px solid white !important;
    }
  }

  ::ng-deep .ng-star-inserted {
    color: white;
  }

  ::ng-deep .mat-step-icon, ::ng-deep .mat-step-icon-not-touched {
    background-color: white !important;
    margin-right: 0 !important;
    height: 18px !important;
    width: 18px !important;
    position: absolute;
    left: 16px;
  }

  ::ng-deep .mat-horizontal-content-container {
    display: none;
  }

  ::ng-deep .mat-stepper-horizontal-line {
    min-width: 90px !important;
    border-color: white !important;
    position: flex;
  }

  ::ng-deep .mat-horizontal-stepper-header {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 49px !important;
    overflow: visible !important;
  }

  ::ng-deep .mat-step-header {
    overflow: visible !important;
  }
}

// *************** Laptop Break Point **************
@media screen and (min-width: 1240px) {
  // **************** Top Stuff **************
  .branding-card {
    display: flex;
    justify-content: center;
    height: 160px;
  }

  .top-card {
    z-index: -1;
    height: 260px;
    width: 100%;
  }

  .logo {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 10px;
  }

  .company-name {
    @include font-bebas-kai;
    position: absolute;
    left: 95px;
    top: -25px;
    font-size: 35px;
  }

  .portal {
    @include font-bebas-kai;
    position: absolute;
    bottom: -25px;
    left: 95px;
    font-size: 35px;
  }

  .branding-container {
    position: relative;
    display: flex;
    width: 540px;
    height: 100px;
  }


  // ***************************** Video ************************
  $video-height: 700px;

  .video-content {
    display: flex;
    position: absolute;
    bottom: -100px;
    justify-content: center;
  }

  .black-bars {
    display: flex;
    background-color: black;
    width: 1244px;
    height: $video-height;
    justify-content: center;
  }

  .video-container {
    height: $video-height;
    top: 130px;
  }

  .evaluation-video {
    height: 100%;
  }

  .video-card {
    height: 500px;
  }

  $transition-centering: 310px;

  .loading {
    top: $transition-centering;
  }

  .done-message {
    top: $transition-centering;
  }

  // **************** stepper ******************

  .my-stepper {
    position: relative;
    background-color: #f27815;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .stepper-container {
    display: flex;
    justify-content: center;
    background-color: #f27815;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  ::ng-deep .mat-step-label {
    display: flex !important;
    position: absolute;
    top: 0;
    left: -18px;
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    overflow: visible !important;
  }

  ::ng-deep .mat-step-label-active {
    color: white !important;
    position: absolute;
    bottom: 0;
    left: -18px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -9px;
      right: 30px;
      border-left: 10px solid transparent !important;
      border-right: 10px solid transparent !important;
      border-bottom: 20px solid white !important;
    }
  }

  ::ng-deep .ng-star-inserted {
    color: white;
  }

  ::ng-deep .mat-step-icon, ::ng-deep .mat-step-icon-not-touched {
    background-color: white !important;
    margin-right: 0 !important;
    height: 18px !important;
    width: 18px !important;
    position: absolute;
    left: 16px;
  }

  ::ng-deep .mat-horizontal-content-container {
    display: none;
  }

  ::ng-deep .mat-stepper-horizontal-line {
    min-width: 140px !important;
    border-color: white !important;
    position: flex;
  }

  ::ng-deep .mat-horizontal-stepper-header {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 49px !important;
    overflow: visible !important;
  }

  ::ng-deep .mat-step-header {
    overflow: visible !important;
  }

  // ****************** Bottom stuff *********************

  .spacer {
    height: 140px;
    z-index: 5;
  }

  .second-spacer {
    height: 100px;
    z-index: 5;
  }

  // ********************** Video Buttons *************************

  $button-centering: 283px;

  .play, .start-recording, .end-recording {
    top: $button-centering;
  }
}
