<form #form="ngForm" (ngSubmit)="form.valid && submitNew(newPassword)">
  <label>Enter new Password</label>
  <input type="password" ngModel #newPassword="ngModel" password required>
  <div style="color:red" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched || form.submitted)">
    <p *ngIf="newPassword.errors.minlength">password must be 6 characters or more.</p>
    <p *ngIf="newPassword.errors.password">Not a valid password</p>
  </div>
  <button type="submit" name="button">Change Password</button>
</form>
<button type="button" name="button" (click)="resend()">Resend Email</button>
