<form-card-lite>
  <h2>Don't worry, we'll help you out.</h2>
  <h3>Enter your new password below.</h3>
  <form #form="ngForm" (ngSubmit)="form.valid && submitNew(newPassword)">
    <mat-form-field>
      <input matInput ngModel #newPassword="ngModel" type="password"
        placeholder="" name="newPassword"
         minlength="6" maxlength="32" required password
      />
      <mat-error *ngIf="newPassword.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="newPassword.errors?.badPassword">Invalid password</mat-error>
      <mat-error *ngIf="newPassword.errors?.minlength">Password must be between 6 and 32 characters</mat-error>
      <mat-error *ngIf="newPassword.errors?.hasLetter">Password must contain at least one letter</mat-error>
      <mat-error *ngIf="newPassword.errors?.hasNumber">Password must contain at least one number</mat-error>
    </mat-form-field>

    <form-submit-button [sending]="" [error]="">
      Change password.
    </form-submit-button>
  </form>
</form-card-lite>
