<sub-nav>
  <sub-nav-item routerLink="/admin/program-feed">Incoming Responses</sub-nav-item>
  <sub-nav-item routerLink="/admin/request-feed" active>Incoming Requests</sub-nav-item>
  <sub-nav-item routerLink="/admin/videos">Videos</sub-nav-item>
  <sub-nav-item routerLink="/admin/clients">Clients</sub-nav-item>
</sub-nav>

<div class="background-image">
  <div class="top-inputs">
    <div class="search-inputs">
      <input matInput placeholder="Search..." class="search-bar" type="text" #search ngModel>
      <button class="search-button" type="button" name="button" (click)="searchRequests(search)"><i class="material-icons">search</i></button>
    </div>
  </div>
</div>
<div>
  <div>
    <table class="request-table">
      <tr class="top-bar">
        <th>REQUEST TITLE</th>
        <th>REQUEST CLIENT</th>
        <th>REQUEST CREATED</th>
      </tr>
      <tr *ngFor="let request of (requests | async)?.requests.requests" class="single-request" routerLink="requests/{{request.requestId}}">
        <td>{{request.jobTitle}}</td>
        <td>{{request.client}}</td>
        <td>{{request.dateCreated}}</td>
      </tr>
    </table>
    <mat-paginator [length]="(requests | async)?.requests.requestCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
  </div>
</div>
