<form-card md-dialog-content>
  <form-header mat-dialog-title>
    <h1>REQUEST A NEW PROGRAM</h1>
    <p>Input the information below to request a program</p>
  </form-header>
  <form-content>
    <form #form="ngForm" (submit)="form.valid && submitRequest(jobTitle, expiration, details)">
      <mat-form-field>
        <input matInput type="text" name="job-title" #jobTitle ngModel required placeholder="Job Title">
      </mat-form-field>
      <label for="expiration">Expiration</label>
      <mat-form-field>
        <input matInput ngModel #expiration name="expiration" type="date" min="{{weekFromNow}}">
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let chip of chips" [selectable]="selectable" [removable]="removable" (remove)="removeChip(chip)">
            {{chip.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>

          <input placeholder="Enter Soft Skill..." [matChipInputFor]="chipList" [matAutocomplete]="auto" [matChipInputAddOnBlur]="addOnBlur"
          matInput [formControl]="myControl" #chipInput/>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addChip($event, chipInput)">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <label for="details">Additional Details</label>
      <mat-form-field>
        <textarea class="text-field" #details matInput ngModel name="details" required></textarea>
      </mat-form-field>
      <form-submit-button mat-dialog-actions>submit</form-submit-button>
    </form>
  </form-content>
</form-card>
