<mat-card>
  <mat-card-title>
    Programs
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" ngModel #programSearch>
    </mat-form-field>
    <button mat-raised-button type="button" name="button" (click)="searchPrograms(programSearch)">search</button>
    <div *ngFor="let program of (programs | async)?.programs.programs">
      <mat-card>
        <mat-card-title>
          <a routerLink="programs/{{program.programId}}">{{program.jobTitle}}</a>
        </mat-card-title>
        <mat-card-content>
          <p><small>Client: {{program.client}}, Author: {{program.author}}</small></p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [length]="(programs | async)?.programs.programCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
    <div *ngIf="pageEvent">
      <h1>{{page}}</h1>
    </div>
  </mat-card-content>
</mat-card>
