<div class="background-image">
  <div class="top-inputs">
    <div class="search-inputs">
      <input matInput placeholder="Search..." class="search-bar" type="text" #search ngModel>
      <button class="search-button" type="button" name="button" (click)="searchRequests(search)"><i class="material-icons">search</i></button>
    </div>
  </div>
</div>
<div>
  <table class="program-table">
    <tr class="top-bar">
      <th>PROGRAM NAME</th>
      <th>PROGRAM DESCRIPTION</th>
      <th>PROGRAM CLIENT</th>
      <th>PROGRAM AUTHOR</th>
    </tr>
    <tr *ngFor="let program of (programs | async)?.programs.programs" class="single-program" routerLink="programs/{{program.programId}}">
      <td>{{program.jobTitle}}</td>
      <td>{{program.description}}</td>
      <td>{{program.client}}</td>
      <td>{{program.author}}</td>
    </tr>
  </table>
  <mat-paginator [length]="(programs | async)?.programs.programCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
</div>
