<mat-card>
  <mat-card-title>
    <h1>{{(client | async)?.client.username}}</h1>
  </mat-card-title>
  <mat-card-content>
    <p>{{(client | async)?.client.email}}</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>
    <h1>PROGRAMS</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" #programSearch>
    </mat-form-field>
    <button mat-raised-button type="button" name="button" (click)="searchPrograms(programSearch)">search</button>
    <div *ngFor="let program of (client | async)?.client.programs">
      <mat-card>
        <mat-card-title>
          <a routerLink="program/{{program.id}}">{{program.jobTitle}}</a>
        </mat-card-title>
      </mat-card>
    </div>
    <mat-paginator [length]="(client | async)?.client.programCount" [pageSize]="programResultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextProgramPage($event)"></mat-paginator>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>
    <h1>REQUESTS</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" #requestSearch>
    </mat-form-field>
    <button mat-raised-button type="button" name="button" (click)="searchRequests(requestSearch)">search</button>
    <div *ngFor="let request of (client | async)?.client.requests">
      <mat-card>
        <mat-card-title>
          <a routerLink="/admin/feed/requests/{{request.id}}">{{request.jobTitle}}</a>
        </mat-card-title>
      </mat-card>
    </div>
    <mat-paginator [length]="(client | async)?.client.requestCount" [pageSize]="requestResultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextRequestPage($event)"></mat-paginator>
  </mat-card-content>
</mat-card>
