<sub-nav>
  <sub-nav-item [active]="activeTab === 'programs'" (click)="activeTab = 'programs'">Programs</sub-nav-item>
  <sub-nav-item [active]="activeTab === 'requests'" (click)="activeTab = 'requests'">Requests</sub-nav-item>
</sub-nav>

<div *ngIf="activeTab === 'programs'">
  <div class="background-image">
    <div class="top-inputs">
      <div class="search-inputs">
        <input matInput placeholder="Search..." class="search-bar" type="text" #programSearch ngModel>
        <button class="search-button" type="button" name="button" (click)="searchPrograms(programSearch)"><i class="material-icons">search</i></button>
      </div>
    </div>
  </div>
  <div>
    <div>
      <table class="program-table">
        <tr class="top-bar">
          <th>PROGRAM NAME</th>
          <th>PROGRAM DESCRIPTION</th>
          <th>STATUS</th>
        </tr>
        <tr *ngFor="let program of (client | async)?.client.programs" class="single-program" routerLink="program/{{program.id}}">
          <td>{{program.jobTitle}}</td>
          <td>{{program.description}}</td>
          <td *ngIf="!program.closed">Active</td>
          <td *ngIf="program.closed">Completed</td>
        </tr>
      </table>
      <mat-paginator [length]="(client | async)?.client.programCount" [pageSize]="programResultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextProgramPage($event)"></mat-paginator>
    </div>
  </div>
</div>


<!-- ******************** -->

<div *ngIf="activeTab === 'requests'">
  <div class="background-image">
    <div class="top-inputs">
      <div class="search-inputs">
        <input matInput placeholder="Search..." class="search-bar" type="text" #requestSearch ngModel>
        <button class="search-button" type="button" name="button" (click)="searchRequests(requestSearch)"><i class="material-icons">search</i></button>
      </div>
    </div>
  </div>
  <div>
    <div>
      <table class="request-table">
        <tr class="top-bar">
          <th>REQUEST NAME</th>
          <th>REQUEST DESCRIPTION</th>
          <th>DATE CREATED</th>
        </tr>
        <tr *ngFor="let request of (client | async)?.client.requests" class="single-request" routerLink="/admin/request-feed/requests/{{request.id}}">
          <td>{{request.jobTitle}}</td>
          <td>{{request.text}}</td>
          <td>{{request.dateCreated}}</td>
        </tr>
      </table>
      <mat-paginator [length]="(client | async)?.client.requestCount" [pageSize]="requestResultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextRequestPage($event)"></mat-paginator>
    </div>
  </div>
</div>
