<div class="background-image">
  <div class="top-inputs">
    <div class="search-inputs">
      <input matInput placeholder="Search..." class="search-bar" type="text" #search ngModel>
      <button class="search-button" type="button" name="button" (click)="searchClients(search)"><i class="material-icons">search</i></button>
    </div>
  </div>
</div>
<div>
  <div>
    <table class="client-table">
      <tr class="top-bar">
        <th>CLIENT NAME</th>
        <th>CLIENT CONTACT INFO</th>
      </tr>
      <tr *ngFor="let client of (clients | async)?.clients.clients" class="single-client" routerLink="{{client.clientId}}">
        <td>{{client.username}}</td>
        <td>{{client.email}}</td>
      </tr>
    </table>
    <mat-paginator [length]="(clients | async)?.clients.clientCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
  </div>
</div>
