@import 'src/assets/styles/_mixins';
@import 'src/assets/styles/_theme';

.submit-button {
  background-color: $primary-color;
  color: $light-text-color;
  font-size: 16px;
  text-transform: uppercase;
  width: 300px;
  padding: 6px 0px;
  margin-top: 25px;
  &[disabled] {
    color: $light-text-color;
    background-color: lighten(desaturate($primary-color, 25%), 15%);
  }
}

.submit-error {
  position: relative;
  height: 55px;
  mat-error {
    @include centeredAbsolutePos;
    top: 15px;
  }
}
