<h1>Register</h1>
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <label for="register-username">Username:</label>
  <input #username="ngModel" id="register-username" type="text" ngModel name="username" required>
  <div *ngIf="username.invalid && (username.dirty || username.touched)">
    <div *ngIf="username.errors.required">
      Username is required
    </div>
  </div>
  <label for="register-email">Email:</label>
  <input id="register-email" type="email" ngModel name="email" required>

  <label for="register-password">Password:</label>
  <input id="register-password" type="password" ngModel name="password" required>

  <button type="submit">Submit</button>
</form>
