<mat-card>
  <mat-card-title>
    <h1>Register</h1>
  </mat-card-title>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
      <mat-form-field>
        <input ngModel matInput type="text"
          placeholder="Username" name="username" #username="ngModel"
          minlength="4" maxlength="20" required username
        />
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
        <mat-error *ngIf="username.errors?.minlength || username.errors?.maxlength">Username must be between 4 and 20 characters</mat-error>
        <mat-error *ngIf="username.errors?.startsWithLetter">Username must start with a letter</mat-error>
        <mat-error *ngIf="username.errors?.onlyValidChars">Username must only use a-z, 0-9, - and _</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input ngModel matInput type="email"
          placeholder="Email" name="email" #email="ngModel"
          required email
        />
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="email.errors?.email && !email.errors?.required">Not a valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input ngModel matInput type="password"
          placeholder="Password" name="password" #password="ngModel"
          minlength="6" maxlength="32" required password
        />
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="password.errors?.minlength">Password must be between 6 and 32 characters</mat-error>
        <mat-error *ngIf="password.errors?.hasLetter">Password must contain at least one letter</mat-error>
        <mat-error *ngIf="password.errors?.hasNumber">Password must contain at least one number</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
