mat-form-field {
  display: block;
  margin-bottom: 20px;
}

.submit-button-group {
  margin-top: 15px;
  display: table;
  button {
    display: table-cell;
    vertical-align: middle;
  }
  .submit-errors {
    display: table-cell;
    vertical-align: middle;
    background-clip: padding-box;
    border-left: 20px solid transparent;
  }
}
