<form-card-lite>
  <h2>
    Forgot your password?<br>
    No problem.
  </h2>
  <h3>Enter your email below.</h3>
  <form #form="ngForm" (ngSubmit)="form.valid && resetSubmit(email)">
    <mat-form-field>
      <input matInput ngModel #email="ngModel" type="email"
        placeholder="" name="email"
        required email
      />
      <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="email.errors?.email && !email.errors?.required">Not a valid email</mat-error>
    </mat-form-field>

    <form-submit-button [sending]="" [error]="">
      Send email.
    </form-submit-button>
  </form>
</form-card-lite>
