<mat-card>
  <mat-card-title>
    <h2><a (click)="showPrograms()">Programs |</a><a (click)="showRequests()"> Requests</a></h2>
  </mat-card-title>
</mat-card>
<div *ngIf="toggle">
  <mat-card>
    <mat-card-title>
      Programs
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" ngModel #programSearch>
      </mat-form-field>
      <button mat-raised-button type="button" name="button" (click)="searchPrograms(programSearch)">search</button>
      <div *ngFor="let program of (programs | async)?.programs.programs">
        <mat-card>
          <mat-card-title>
            <a routerLink="programs/{{program.programId}}">{{program.jobTitle}}</a>
          </mat-card-title>
          <mat-card-content>
            <p><small>Client: {{program.client}}, Author: {{program.author}}</small></p>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-paginator [length]="(programs | async)?.programs.programCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
      <div *ngIf="pageEvent">
        <h1>{{page}}</h1>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!toggle">
  <mat-card>
    <mat-card-title>
      Requests
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" ngModel #requestSearch>
      </mat-form-field>
      <button mat-raised-button type="button" name="button" (click)="searchRequests(requestSearch)">search</button>
      <div *ngFor="let request of (requests | async)?.requests.requests">
        <mat-card>
          <mat-card-title>
            <a routerLink="requests/{{request.requestId}}">{{request.jobTitle}}</a>
          </mat-card-title>
          <mat-card-content>
            <p>Client: {{request.client}}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-paginator [length]="(requests | async)?.requests.requestCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
