<div class="jumbotron">
  <div class="jumbotron-content dark">
    <i class="logo-placeholder material-icons">view_quilt</i>
    <h1>Real people don't act like multiple choice questions</h1>
    <p>Is your candidate experience driving away Top Talent before you even talk to them?</p>
    <a class="jumbotron-button" mat-button>Let's Talk</a>
  </div>
</div>
<div class="jumbotron">
  <div class="jumbotron-image"></div>
  <div class="jumbotron-content dark">
    <h2>Attract &amp; hire motivated, skilled, &amp; diverse talent</h2>
    <p>Psychobabble develops mobile-optimized multimedia talent assessments with voice response technology to help you:</p>
    <ul>
      <li>Hire for Motivation</li>
      <li>Improve Candidate Experience</li>
      <li>Improve Inclusion and Diversity</li>
    </ul>
  </div>
</div>
<div class="jumbotron">
  <img src="/assets/img/splash/bg-texture.png">
  <div class="jumbotron-content light">
    <h2>True talent assessment unlike any other</h2>
    <p>
      Psychobabble offers off-the-shelf and custom multimedia talent assesments through our online SaaS platform, seamlessly integrated
      into your Applicant Tracking System (ATS) or career page.
    </p>
    <p>
      Psychobabble Connections is designed to measure motivation and predict engaged performance by assessing candidates' interests,
      work-styles, and values, and how they match to your unique jobs, culture, and mission.
    </p>
  </div>
</div>
<div class="jumbotron">
  <div class="jumbotron-image"></div>  
  <div class="jumbotron-content dark">
    <h2>Replace traditional "tests" and increase fairness</h2>
    <p>
      There is a not-so-subtle problem with multiple-choice cognitive ability tests and aptitude tests: these tests reduce job
      opportunities for minority groups.
    </p>
    <p>
      Psychobabble aims to eliminate the bias and reach all Top Talent equally, reguardless of where it comes from.
    </p>
  </div>
</div>
<div class="jumbotron">
  <div class="jumbotron-content light">
    <h2><span class="break-line">Not sure if we are</span> <span class="break-line">the right solution?</span><br>
      <span class="break-line">Get a free</span> <span class="break-line">assessment today</span></h2>
    <p>
      Not sure if Psychobabble can work for you? Send us a quick email and we'll give you a free evaluation of your current hiring
      funnel!
    </p>
    <a class="jumbotron-button" mat-raised-button>Get Started</a>
  </div>
</div>
