@import '../../../../assets/styles/_mixins';

:host {
  display: block;
}

.jumbotron {
  position: relative;
  &:nth-child(1) {
    height: 600px;
    background-color: #a2c6e9;
  }
  &:nth-child(2) {
    height: 600px;
    background-color: #ffffff;
    @include angledBorder(before, true, 3deg);
  }
  &:nth-child(3) {
    height: 600px;
    background-color: #a2c6e9;
    @include angledBorder(before, false, 3deg);
  }
  &:nth-child(4) {
    height: 500px;
    background-color: #ffffff;
    @include angledBorder(before, true, 3deg);
  }
}

.call-to-action {
  position: relative;
  background-color: #0b2453;
  height: 400px
}
