<mat-card>
  <mat-card-title>
    <h1>{{(request | async)?.request.client}}</h1>
  </mat-card-title>
  <mat-card-content>
    <p><small>{{(request | async)?.request.dateCreated}}</small></p>
    <p>Requested Expiration Date: {{(request | async)?.request.expiration}}</p>
    <p>{{(request | async)?.request.text}}</p>
    <div *ngFor="let skill of (request | async)?.request.softSkills">
      <p>{{skill.name}}</p>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="Search..." type="text" #videoSearch ngModel>
  </mat-form-field>
  <button mat-raised-button type="button" name="button" (click)="searchVideos(videoSearch)">search</button>
  <mat-form-field>
    <textarea matInput name="name" rows="8" cols="80" ngModel #programDescription></textarea>
  </mat-form-field>
  <button mat-raised-button type="button" name="button" (click)="createProgram(programDescription)">Create Program</button>
  <mat-card-content>
    <div *ngFor="let video of (videos | async)?.videos.videos">
      <div *ngIf="checkIfAdded(video.id)">
        <h4>{{video.title}}</h4>
        <p>{{video.description}}</p>
        <button mat-raised-button type="button" name="button" (click)="addToProgram(video.id)">Add</button>
      </div>
    </div>
  </mat-card-content>
  <mat-paginator [length]="(videos | async)?.videos.videoCount" [pageSize]="videoResultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
</mat-card>
