<!-- TODO: Change content via authentication -->
<nav id="site-nav-bar">
  <div class="nav-links-right">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a *ngIf="auth.isClient()" routerLink="/playlists" routerLinkActive="active">Playlists</a>
    <a *ngIf="auth.isClient()" routerLink="/requests" routerLinkActive="active">Requests</a>

    <a *ngIf="auth.isAdmin()" routerLink="/admin/feed" routerLinkActive="active">Feed</a>
    <a *ngIf="auth.isAdmin()"  routerLink="/admin/videos" routerLinkActive="active">Videos</a>
    <a *ngIf="auth.isAdmin()"  routerLink="/admin/clients" routerLinkActive="active">Clients</a>
  </div>
  <div class="nav-links-left">
    <a *ngIf="!auth.isLoggedIn()"  routerLink="/register">Register</a>
    <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Log In</a>
    <a *ngIf="auth.isLoggedIn()" routerLink="/logout" (click)="auth.logout()">Log Out</a>
  </div>
</nav>
