mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.hide-navbar {
  opacity: 0;
  animation: fadeout 1s;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: -100px;
}

.show-navbar {
  display: flex;
  background-color: #673ab7;
  color: white;
}

.scroll-navbar {
  background-color: #673ab7;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  animation: fadein 1s;
}

 @keyframes fadein {
   from {
     opacity: 0;
     top: -100px;
    }
   to {
     opacity: 1;
     top: 0px;
    }
 }

 @keyframes fadeout {
   from {
     opacity: 1;
     top: 0px;
    }
   to {
     opacity: 0;
     top: -100px;
    }
 }
