mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.hide-navbar {
  opacity: 0;
  animation: fadeout 1s;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.show-navbar {
  display: flex;
  background-color: #673ab7;
  color: white;
}

.scroll-navbar {
  background-color: #673ab7;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  animation: fadein 1s;
}

 @keyframes fadein {
   from { opacity: 0; }
   to { opacity: 1; }
 }

 @keyframes fadeout {
   from { opacity: 1; }
   to { opacity: 0; }
 }
