<div [class]="isScrolled()">
  <div class="bar-container">
    <div class="permanent-bar">
      <p class="home" routerLink="/">
        <img class="babble-logo" src="/assets/img/logo-white.png" alt="psychobabble logo">
        <span class="psycho-babble">PSYCHOBABBLE</span>
      </p>
      <div *ngIf="!auth.isLoggedIn()" class="register-login">
        <p>
          <a routerLink="/register">REGISTER</a> |
          <a routerLink="/login">LOGIN</a>
        </p>
      </div>
      <div *ngIf="auth.isLoggedIn()" class="logged-in">
        <p>
          <a routerLink="/profile">{{loggedInUser}}</a> |
          <a routerLink="/logout" (click)="auth.logout()">LOGOUT</a>
        </p>
      </div>
    </div>
  </div>
</div>
