<legend>DO THE STUFF WITH THE THINGS</legend>
<form #form="ngForm" (submit)="form.valid && submitRequest(jobTitle, expiration, details)">
  <input type="text" name="job-title" #jobTitle ngModel required placeholder="Job Title">
  <label for="expiration">Expiration</label>
  <input ngModel #expiration name="expiration" type="date" min="{{weekFromNow}}">
  <label for="details">Additional Details</label>
  <textarea #details ngModel name="details" rows="8" cols="80" required></textarea>
	<mat-form-field>
		<mat-chip-list #chipList>
			<mat-chip *ngFor="let chip of chips" [selectable]="selectable" [removable]="removable" (remove)="removeChip(chip)">
				{{chip.name}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>

			<input placeholder="Select option..." [matChipInputFor]="chipList" [matAutocomplete]="auto" [matChipInputAddOnBlur]="addOnBlur"
			 matInput [formControl]="myControl" #chipInput/>
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="addChip($event, chipInput)">
			<mat-option *ngFor="let option of filteredOptions" [value]="option">
				{{ option.name }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
  <button type="submit" name="button">submit</button>
</form>
