<legend>DO THE STUFF WITH THE THINGS</legend>
<form #form (submit)="form.valid && submitRequest(form)">
  <input type="text" name="job-title" ngModel required placeholder="Job Title">
  <div *ngFor="let skill of (softSkills | async)?.skillArray">
    <mat-checkbox ngModel type="checkbox" name="{{skill.id}}" value="{{skill.id}}"></mat-checkbox>
    <label for="{{skill.name}}">{{skill.name}}</label>
  </div>
  <button type="button" name="button" (click)="switchToggle()">Click For Expiration Date</button>
  <div *ngIf="toggle">
    <label for="expiration">Expiration</label>
    <input ngModel name="expiration" type="date" min="{{weekFromNow}}">
  </div>
  <label for="details">Additional Details</label>
  <textarea ngModel name="details" rows="8" cols="80" required></textarea>
  <button type="submit" name="button">submit</button>
</form>

<mat-autocomplete>
  <mat-option *ngFor="let skill of (softSkills | async)?.skillArray" [value]="skill.id">
    {{ skill.name }}
  </mat-option>
</mat-autocomplete>
