// Material theme
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
}

a.active {
  background-color: white;
  color: black;
}
