// ADAPTED FROM: https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms/
// Creates an angled border on either the top, bottom, or both of an element
// Side effects -- uses :before and/or :after pseudos, sets position: relative
@mixin angledEdge($edge, $angles...) {
  $topAngle: -1 * nth($angles, 1);
  $bottomAngle: $topAngle;
  @if ($edge == both and length($angles) > 1) {
    $bottomAngle: -1 * nth($angles, 2);
  }
  position: relative;
  z-index: 1;
  $pseudo: '';
  @if ($edge == top or $edge == both) {
    $pseudo: $pseudo + '&:before,';
    &:before {
      top: 0;
      transform: skewY($topAngle);
      @if($topAngle > 0) {
        transform-origin: 100% 0;
      }
      @else {
        transform-origin: 0 0;
      }
    }
  }
  @if ($edge == bottom or $edge == both) {
    $pseudo: $pseudo + '&:after';
    &:after {
      bottom: 0;
      transform: skewY($bottomAngle);
      @if($bottomAngle > 0) {
        transform-origin: 0 100%;
      }
      @else {
        transform-origin: 100% 100%;
      }
    }
  }
  #{$pseudo} {
    content: '';
    background: inherit;
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

@mixin textGradient($direction, $colors...) {
  color: nth($colors, 1);
  background: -webkit-linear-gradient($direction, $colors);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin blurredBackground($url, $blur) {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;;
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur($blur);
  }
}
