@font-face {
    font-family: 'Bebas Kai';
    src: url('/assets/fonts/BebasKai-Regular.otf');
}

@mixin font-bebas-kai {
    font-family: 'Bebas Kai', sans-serif
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@mixin font-pt-sans {
    font-family: 'PT Sans', sans-serif
}

$primary-color: #258add;

$light-text-color: #fefefe;
$dark-text-color: #797676;
$primary-text-gradient: #5cb6da, #537bc4;

$light-background-color: #fefefe;
$primary-background-gradient:#459dcc, #6576bc;
$primary-background-gradient-dark: #12293b, #141c2f;

$error-color: #f44336;
