<div class="background-image">
  <h1>{{(program | async)?.program.jobTitle}}</h1>
  <h3>Top Applicants</h3>
  <div class="copy-link">
    <input class="link" type="text" value="{{generatedUrl}}">
    <button class="copy-button" type="button" name="button" (click)="copyToClipboard()"><i class="material-icons">content_copy</i></button>
  </div>
</div>
<div>
  <table class="subject-table">
    <tr class="top-bar">
      <th>APPLICANT NAME</th>
      <th>CONTACT INFORMATION</th>
      <th>SCORE</th>
    </tr>
    <tr *ngFor="let subject of (topSubjects | async)?.subjects.subjects" class="single-subject">
      <td>{{subject.subjectName}}</td>
      <td>{{subject.contactInfo}}</td>
      <td>{{subject.averageScore}}</td>
    </tr>
  </table>
  <mat-paginator [length]="(topSubjects | async)?.subjects.subjectCount" [pageSize]="resultCount" [pageSizeOptions]="pageSizeOptions" (page)="nextPage($event)"></mat-paginator>
</div>
