<form #form="ngForm" (ngSubmit)="form.valid && submitNew(newPassword)">
  <label>Enter new Password</label>
  <input type="password" ngModel #newPassword="ngModel" password required>
  <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched || registerForm.submitted)">
    <p *ngIf="password.errors.minlength">password must be 6 characters or more.</p>
    <p *ngIf="password.errors.password">Not a valid password</p>
  </div>
  <button type="submit" name="button">Change Password</button>
</form>
<button type="button" name="button" (click)="resend()">Resend Email</button>
