<h2><a (click)="showPrograms()">Programs |</a><a (click)="showRequests()"> Requests</a></h2>
<div *ngIf="toggle">
    Programs
    <div *ngFor="let program of (programs | async)?.programs">
      <a routerLink="programs/{{program.programId}}">{{program.client}}</a>
      <p><small>{{program.author}}</small></p>
    </div>
</div>
<div *ngIf="!toggle">
    Requests
    <div *ngFor="let request of (requests | async)?.requests">
      <a routerLink="requests/{{request.requestId}}">{{request.client}}</a>
    </div>
</div>
